<template name="login">
	<section id="login" class="row">
		<div class="well col-sm-8 col-sm-offset-2">
			<form name="{{#if isSignup}}signup{{else}}login{{/if}}" role="form">
				{{#if isSignup}}
					<div class="form-group">
						<label for="name">Nome</label>
						<div class="form-control-wrapper">
							<input type="text" name="name" placeholder="Seu nome" class="form-control input-lg" required/>
						</div>
					</div>
				{{/if}}

				<div class="form-group">
					<label for="username">Usuário</label>
					<div class="form-control-wrapper">
						<input type="text" name="username" placeholder="Escolha um nome de usuário" class="form-control input-lg" required/>
					</div>
				</div>
				
				<div class="form-group">
					<label for="password">Senha</label>
					<div class="form-control-wrapper">
						<input type="password" name="password" placeholder="Senha" class="form-control input-lg" required/>
					</div>
				</div>

				{{#if isSignup}}
					<p><button type="submit" class="btn btn-primary btn-lg btn-block">Cadastrar</button></p>
					<p class="text-center">Já é cadastrado? <a href="{{pathFor 'login'}}">Entrar</a></p>
				{{else}}
					<p><button type="submit" class="btn btn-primary btn-lg btn-block">Entrar</button></p>
					<p class="text-center">Ou <a href="{{pathFor 'signup'}}">Criar uma conta</a></p>
				{{/if}}
			</form>
		</div>
	</section>
</template>