body {
	background-color: white;
	padding: 0;
	margin: 0;
}

.bg-warning {
	background-color: #E66804;
}

.infos {
	padding: 30px 0;
}
.navbar {
	height: 80px;
	background-color: #ECEBEA;
	color: white;
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
}
.navbar a {
	color: white;
}

.thumbnail {
	padding: 20px 0;
	-webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.32);
	-moz-box-shadow:    3px 3px 10px 0px rgba(50, 50, 50, 0.32);
	box-shadow:         3px 3px 10px 0px rgba(50, 50, 50, 0.32);
}
.thumbnail img {
	border: 10px solid #eee;
}

.table thead tr {
	background-color: #428BCA;
	color: white;
}
.table tbody tr:nth-child(odd){
	background-color: #eee;
}
.table tbody tr:nth-child(even){
	background-color: #ddd;
}

.progress {
	height: 50px;
}
.progress-bar {
	background-color: #E66804;
	font-size: 30px;
	padding-top: 15px;
}

.goal .goal-name {
	font-size: 20px;
}

.badges span {
	color: #eee;
}
.badges span:first-child {
	color: #E66804;
}