<template name="header">
	<!-- {{> menu}} -->

	{{#if currentUser}}
		<section id="manager-bot">
			<div class="container">
				<div class="row">
					<div class="message-box">
						<img src="/assets/img/gerente-itau-boneco.png" class="avatar"/>

						<div class="baloon-message">
							<span>Olá, {{currentUser.profile.name}}! Você está no <strong>Perfil {{currentUser.profile.goal.type}}</strong>. <a href="#">Deseja mudar seu perfil?</a></span>
						</div>
					</div>
				</div>
			</div>
		</section>
	{{/if}}
</template>